<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright 2016, The CyanogenMod Project
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:androidprv="http://schemas.android.com/apk/prv/res/android"
    package="org.cyanogenmod.cmparts"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.BIND_DEVICE_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="cyanogenmod.permission.BIND_CORE_SERVICE" />

    <protected-broadcast android:name="cyanogenmod.platform.app.profiles.PROFILES_STATE_CHANGED" />
    <protected-broadcast android:name="org.cyanogenmod.cmparts.PART_CHANGED" />

    <application android:label="@string/cmparts_title"
            android:theme="@style/Theme.Settings"
            android:hardwareAccelerated="true"
            android:supportsRtl="true"
            android:defaultToDeviceProtectedStorage="true"
            android:directBootAware="true">

        <activity android:name="PartsActivity">
            <intent-filter>
                <action android:name="org.cyanogenmod.cmparts.PART" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service android:name="org.cyanogenmod.cmparts.PartsCatalog"
                 android:permission="cyanogenmod.permission.BIND_CORE_SERVICE"
                 android:enabled="true"
                 android:exported="true">
            <intent-filter>
                <action android:name="org.cyanogenmod.cmparts.CATALOG" />
            </intent-filter>
        </service>

        <receiver android:name="BootReceiver" android:enabled="true">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Privacy settings (dashboard) -->
        <activity-alias
            android:name="PrivacySettings"
            android:label="@string/privacy_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="-2">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="org.cyanogenmod.cmparts.PRIVACY_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.personal" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_privacy" />
        </activity-alias>

        <!-- Button settings (dashboard) -->
        <activity-alias
            android:name=".input.ButtonSettings"
            android:label="@string/button_pref_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="1">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="org.cyanogenmod.cmparts.BUTTON_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.device" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_buttons" />
        </activity-alias>

        <!-- Profiles settings (dashboard) -->
        <activity-alias
            android:name=".profiles.ProfilesSettings"
            android:label="@string/profiles_settings_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="-2">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="org.cyanogenmod.cmparts.PROFILES_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.personal" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_profiles" />
        </activity-alias>

        <!-- Status bar settings (dashboard) -->
        <activity-alias
            android:name=".statusbar.StatusBarSettings"
            android:label="@string/status_bar_title"
            android:targetActivity="PartsActivity">
            <intent-filter android:priority="1">
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="org.cyanogenmod.cmparts.STATUS_BAR_SETTINGS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.personal" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_statusbar" />
        </activity-alias>

        <!-- Anonymous Statistics -->
        <receiver android:name=".cmstats.ReportingServiceManager"
            android:enabled="true"
            android:exported="false"
            android:label="ReportingServiceManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="org.cyanogenmod.cmparts.action.TRIGGER_REPORT_METRICS" />
            </intent-filter>
        </receiver>

        <service android:label="ReportingService"
            android:enabled="true"
            android:exported="false"
            android:name=".cmstats.ReportingService">
        </service>

        <service android:name=".cmstats.StatsUploadJobService"
                 android:permission="android.permission.BIND_JOB_SERVICE" />

        <service android:name=".cmstats.ReportingService"
                 android:label="ReportingService"
                 android:enabled="true"
                 android:exported="false" />

    </application>
</manifest>
